.Header {
  width: 100%;
  position: fixed; /* Fixes the header to the top of the page */
  top: 0; /* Ensures the header is at the very top */
  left: 0; /* Aligns it to the left */
  z-index: 1000; /* Ensures the header stays above other content */
  background-color: #f0f8ff; /* Ensures the header has a background (optional) */
 
}
.logo{
  color:#0d6efd !important;
}
.navlink{
  color:#0000 !important;
}
.search-container{
  margin: auto;
  background-color:#ccc;
  padding: 1px;
}
.searchbox{
  border-radius: 3px;
  width:100%;
  height: 100%;
  border: none;
}
.navbar{
  display:flex;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body, html {
  margin: 0; /* Remove margin to avoid extra space */
  padding: 0; /* Remove padding */
  width: 100%;
}

#root {
  width: 100%;
}

.homepage {
  margin-top: 100px; /* Adds spacing to push content below the fixed header */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  padding-bottom: 30px;
}
.cardsContainer{
display: grid;
gap: 1rem;
margin-top: 30px;
}

/* Large screens - 4 cards in a row */
@media (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  }
  .navlink{
    color:#000000 !important;
   
  }
  .navbar{
    margin-left: 50px !important;
  }
  .subscriber-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: 1fr;
    gap: 12px;
  }
 
.subscribe-content p{
text-align: left;
}
.subscribe-content h3{
  text-align: left;
}
.subscribe-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subscribe-form p{
  text-align: left;
}
.subscribeform{
  display:grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}
.subscribeInput{
  padding:16px !important;
  color:#68738d;
}
.footer-links{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  grid-template-rows: 1fr;
  padding-left: none !important;
  margin-top:25px ;
}
.footergroup1{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: left;
  gap: 3px;
}
.footergroup1 li{
padding-left: 0;
margin-left: none;
width: 100% !important;
}
.footergroup1 li a{
  width: 100%;
  width: 100% !important;
}
.footergroup1 h5{
  text-align:left !important;
  margin-left: 8px;
}
.footergroup2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: left;
  gap: 3px; 
}
.footergroup2 li{
  padding-left: 0;
  margin-left: none;
  }
  .footergroup2 h5{
    text-align:left !important;
    margin-left: 8px;
  }

  .footergroup3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    gap: 3px; 
  }
  .footergroup3 li{
    padding-left: 0;
    margin-left: none;
    }
    .footergroup3 h5{
      text-align:left !important;
      margin-left: 8px;
    }

    
  .footergroup4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    gap: 3px; 
  }
  .footergroup4 li{
    padding-left: 0;
    margin-left: none;
    }
    .footergroup4 h5{
      text-align:left !important;
      margin-left: 8px;
    }
}

/* Small screens - 1 card per row */
@media (max-width: 768px) {
  .navlink{
    color:#000000 !important;
   
  }
  .buttton.me-2.navbar-toggler{
    color:#ba1414 !important;
  }
  .cardscontainer {
    grid-template-columns: 1fr ; /* 1 card per row */
  }
  .card{
    width:95% !important;          
     margin-left:7px  !important;
  }
  .footer-links {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    text-align: left;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 15px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  .footer{
  text-align:left;
  }
  .subscriber-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
  }
 
.subscribe-content p{
text-align: left;
}
.subscribe-content h3{
  text-align: left;
}
.subscribe-form{
  display: flex;
  flex-direction: column;

}
.subscribe-form p{
  text-align: left;
}
.subscribeform{
  display:grid;
  grid-template-columns: 3fr 1fr;
  gap: 8px;
}
.subscribeInput{
  padding:16px !important;
  color:#68738d;
}
.footer-links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-left: none !important;
  margin-top:25px ;
  padding: none !important;
  gap: 8px !important;
}
.footergroup1{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: left;
  gap: 4px;
  padding-left: none;
}
.footergroup1 li{
padding-left: 0;
margin-left: none;
width: 100% !important;
height: 20px;
}
.footergroup1 li a{
  width: 100%;
  width: 100% !important;
}
.footergroup1 h5{
  text-align:left !important;
  margin-left: 8px;
}
.footergroup2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: left;
  gap: 3px; 
}
.footergroup2 li{
  padding-left: 0;
  margin-left: none;
  }
  .footergroup2 h5{
    text-align:left !important;
    margin-left: 8px;
  }

  .footergroup3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    gap: 3px; 
  }
  .footergroup3 li{
    padding-left: 0;
    margin-left: none;
    }
    .footergroup3 h5{
      text-align:left !important;
      margin-left: 8px;
    }

    
  .footergroup4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    gap: 3px; 
  }
  .footergroup4 li{
    padding-left: 0;
    margin-left: none;
    }
    .footergroup4 h5{
      text-align:left !important;
      margin-left: 8px;
    }
   
}

.popovercard{
  border:1px solid #0d6efd;
}


.header1{
  margin-bottom: 8px;
  color: #3e5480;
 
}

.intro-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
}
.intro-text p{
  text-align: center;
  margin-top: 10px;
  color: #3e5480;
}

.card {
  background-color: #f0f0f0;
  text-align: center;
  border: 1px solid #ccc !important;
  border-radius: 8px;
  display: flex !important;

}
.cardImage{
  border-radius: 8px;
}
.cardBody{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: left !important;
}
.searchbox{
  text-decoration: none !important;
  border:none ;
}
.courseTitle{
  margin-bottom: 5px;
  color: #3e5480 !important;
  margin-bottom: 10px !important;
  width: 100%;
}
.navbar-toggler-icon{
  background-color: #0d6efd !important;
  border:none !important;
  text-decoration: none !important;
  color: #0d6efd !important;
}
.navbar-toggler{
  background-color: #0d6efd !important;
  border:none !important;
  color: #0d6efd !important;
  text-decoration: none !important;
}


  /*   footer  */
  .footer {
    background-color: #f0f8ff;
    color: #041836;
    padding:5px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 15px;
  }
  
  .footer-links a {
    color: #041836;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
 /*   footer  ends here */


